body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div {
    display: block;
}

/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
}*/

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.cwYydQ {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.iEiGUQ {
    width: 100%;
    height: 48px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 8px;
    border-bottom: 1px solid rgb(242, 244, 247);
}

.leYtcV {
    z-index: 10;
    position: relative;
    max-width: 416px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 50px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(242, 244, 247);
    border-image: initial;
    border-radius: 8px;
    margin: 150px auto 0px;
}

.cWySId {
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
}

.gIJWVT {
    margin-bottom: 32px;
}

.hGvNWg {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.cuXDaB {
    width: 100%;
    position: relative;
    height: 48px;
}

.hjXNnH {
    z-index: 1;
    pointer-events: none;
    font-size: 16px;
    color: rgba(34, 34, 34, 0.3);
    letter-spacing: 0px;
    position: absolute;
    left: 12px;
    line-height: 16px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    transform-origin: 0px -18px;
    transform: scale(0.75);
    flex-flow: row;
    transition: color 0.15s cubic-bezier(0.19, 1, 0.22, 1) 0s, transform 0.15s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.kzSYmy {
    position: relative;
}

.eNKLdK {
    z-index: 1;
    pointer-events: none;
    font-size: 16px;
    color: rgb(150, 155, 165);
    letter-spacing: 0px;
    position: absolute;
    left: 12px;
    line-height: 16px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    transform-origin: 0px -18px;
    transform: scale(0.75);
    flex-flow: row;
    transition: color 0.15s cubic-bezier(0.19, 1, 0.22, 1) 0s, transform 0.15s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.iKilGe input:not(:-webkit-autofill) {
    animation-duration: 50000s;
    animation-name: onAutoFillCancel;
}


.iKilGe input:hover {
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: all;
}

.iKilGe input, .iKilGe::after {
    border-radius: 4px;
}

.iKilGe input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    color: rgb(77, 77, 77);
    letter-spacing: 0px;
    font-size: 14px;
    height: 48px;
    box-shadow: none;
    background-color: rgb(242, 244, 247);
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: all;
    -webkit-appearance: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    padding: 26px 40px 10px 12px;
}

input[type="tel"], input[type="text"], textarea {
    font-family: Graphik;
    -webkit-appearance: none;
}


* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.WdBRk {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-family: Graphik;
    display: inline-flex;
    box-sizing: border-box;
    user-select: none;
    white-space: nowrap;
    min-width: 160px;
    height: 56px;
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    transition-property: background;
    color: rgb(255, 255, 255);
    width: 100%;
    flex-flow: row nowrap;
    padding: 0px 16px;
    text-decoration: none;
    background: rgb(10, 5, 95);
    border-radius: 4px;
}

.daNHXh {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    flex-flow: column nowrap;
}

.hCmtvU {
    opacity: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row nowrap;
}

.kfbiLF {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-family: Graphik;
    display: inline-flex;
    box-sizing: border-box;
    user-select: none;
    white-space: nowrap;
    min-width: 160px;
    height: 56px;
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(204, 204, 204);
    width: 100%;
    flex-flow: row nowrap;
    padding: 0px 16px;
    text-decoration: none;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 234, 234);
    border-image: initial;
    border-radius: 4px;
}

.daNHXh {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    flex-flow: column nowrap;
}

.lekMui {
    opacity: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row nowrap;
}

.ehlTpW {
    top: -24px;
    width: 100%;
    text-align: center;
    color: rgb(230, 70, 70);
    font-size: 14px;
}
.ehlTpP {
    top: -24px;
    width: 100%;
    text-align: center;
    color: forestgreen;
    font-size: 14px;
}
